//@import '~vuetify/src/stylus/settings/_variables'

//$material-light.background = #FFF
$body-font-family = 'Roboto', 'Noto Sans S Chinese', 'PingFangSC', 'Microsoft YaHei', sans-serif
//$alert-font-size = 18px

//@import '~vuetify/src/stylus/main'
// Or for a-la-carte:
@import '~vuetify/src/stylus/app'
